<%= form_with(model: subsidiary) do |form| %>
  <% if subsidiary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subsidiary.errors.count, "error") %> prohibited this subsidiary from being saved:</h2>

      <ul>
        <% subsidiary.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card border-light bg-light rounded">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="field form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="field form-group">
            <%= form.label :legal_name %>
            <%= form.text_field :legal_name, class: 'form-control' %>
          </div>  
        </div>

        <div class="col-12 col-md-6">
          <div class="field form-group">
            <%= form.label :document %>
            <%= form.text_field :document, class: 'form-control' %>
          </div>  
        </div>

        <div class="col-12">
          <div class="field form-group">
            <%= form.label :company_id %>
            <%= form.collection_select :company_id, Company.all, :id, :name, { include_blank: true }, { class: 'form-control' } %>
          </div>
        </div>
      </div>

      <h4 class="text-secondary mt-4 mb-3">Select customers</h4>

      <div class="row">
        <%= form.collection_check_boxes :customer_ids, Customer.all, :id, :name do |elem| %>
          <div class="col-12 col-md-6">
            <div class="checkbox-inline form-group ml-4">
              <%= elem.check_box class: 'form-check-input' %>
              <%= elem.label class: 'form-check-label' %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="actions d-flex pt-2">
        <%= form.submit submit_btn_text, class: 'btn btn-primary ml-auto' %>
      </div>
    </div>
  </div>
<% end %>
