<p id="notice"><%= notice %></p>

<div class="d-flex flex-row mt-5 mb-2">
  <h1 class="text-primary web-font-family-montserrat">Companies</h1>
</div>

<div class="card border-light bg-light rounded">
  <div class="card-body">
    <div class="table-responsive rounded">
      <table class="table table-dark rounded mb-0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Legal name</th>
            <th>Document</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <% @companies.each do |company| %>
            <tr>
              <td><%= company.name %></td>
              <td><%= company.legal_name %></td>
              <td><%= company.document %></td>
              <td class="text-right">
                <%= link_to company, class: 'mr-3' do %>
                  <i class="fas fa-plus text-primary" data-toggle="tooltip" data-placement="bottom" title="Details"></i>
                <% end %>

                <%= link_to edit_company_path(company), class: 'mr-3' do %>
                  <i class="fas fa-pen text-primary" data-toggle="tooltip" data-placement="bottom" title="Edit"></i>
                <% end %>

                <%= link_to company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'mr-3' do %>
                  <i class="fas fa-trash text-danger" data-toggle="tooltip" data-placement="bottom" title="Delete"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= link_to 'New company', new_company_path, class: 'mt-1 btn btn-success w-100' %>
  </div>
</div>