<p id="notice"><%= notice %></p>

<%= render 'shared/details/company', company: @company %>

<br>
<h2>Company subsidiaries</h2>

<%= render 'shared/tables/subsidiaries_table', subsidiaries: @company.subsidiaries %>

<br>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
