<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Legal name:</strong>
  <%= @company.legal_name %>
</p>

<p>
  <strong>Document:</strong>
  <%= @company.document %>
</p>

<br>
<h2>Subsidiaries</h2>

<%= render 'shared/tables/subsidiaries_table', subsidiaries: @company.subsidiaries %>

<br>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
