<!DOCTYPE html>
<html>
  <head>
    <title>T5Web</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <%= render 'layouts/navbar' %>
    </header>

    <main class="container-fluid">
      <article class="row">
        <section class="col-0 col-xs-0 col-sm-1"></section>
        <section class="col-12 col-xs-12 col-sm-10">
          <%= yield %>
        </section>
        <section class="col-0 col-xs-0 col-sm-1"></section>
      </article>
    </main>
  </body>
</html>
