<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).presence || 'T5Web'%></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Simple CRUDs study project">
    <meta name="keywords" content="CRUDs, Company, Subsidiary, Customer, Account">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navbar' %>
    </header>

    <main class="container-fluid">
      <article class="row">
        <section class="col-0 col-xs-0 col-sm-1"></section>
        <section class="col-12 col-xs-12 col-sm-10">
          <%= yield %>
        </section>
        <section class="col-0 col-xs-0 col-sm-1"></section>
      </article>
    </main>
  </body>
</html>
