<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @account.number %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<br>
<h2>Customer</h2>

<%= render 'shared/tables/customers_table', customers: [ @account.customer ] %>

<br>
<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
